<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      You receive this email, because you do not want to forget the birthday of @contact.firstname @contact.lastname at @contact.birthday
    </p>
  </body>
</html>